# COMM7330 Basic Programming for Data Science 
### data cleaning

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import numpy

### 1. Population

#### 1.1 Population in 2011

In [45]:
# row dataset convert from pdf file
population_11 =pd.read_csv('2011 - territory and demographic.csv')
population_11

population_11 = population_11[['2011年按區議會選區、性別及年齡組別劃分的人口','Unnamed: 20']]
population_11 = population_11.drop([0,1,2,416,417,418,415,419],axis = 0)
population_11 = population_11.rename(columns = {'2011年按區議會選區、性別及年齡組別劃分的人口':'territory','Unnamed: 20':'2011 pop'})

#print(population_11['2011 pop'])

def convert(value):
    """
    转换字符串数字为float类型
     - 移除 kongke ,
     - 转化为int类型
    """
    new_value = value.replace(' ', '')
    return np.float(new_value)

population_11['2011 pop'] = population_11['2011 pop'].apply(convert)
pop = population_11.groupby(by='territory')[['2011 pop']].sum()
pop.reset_index()

   territory  2011 pop
0        中西區  251519.0
1        九龍城  377351.0
2         元朗  578529.0
3         北區  304134.0
4         南區  278655.0
5         大埔  296853.0
6         屯門  487546.0
7         東區  588094.0
8         沙田  630273.0
9        油尖旺  307878.0
10       深水埗  380855.0
11        灣仔  152608.0
12        荃灣  304637.0
13        葵青  511167.0
14        西貢  436627.0
15        觀塘  622152.0
16        離島  141327.0
17       黃大仙  420183.0

In [35]:
dd= [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
for i in dd:
    population_11.drop(['Unnamed: '+str(i)], inplace = True, axis =1)
population_11.drop(['(A303)'], inplace=True, axis=1)
rows= [0,1,2,415,416,417,418,419]
for i in rows:
    population_11.drop([i], inplace=True, axis=0) 
population_11=population_11.rename(columns = {'2011年按區議會選區、性別及年齡組別劃分的人口':'region'})
population_11=population_11.rename(columns = {'Unnamed: 20':'2011 population'})
population_11

KeyError: "['Unnamed: 2'] not found in axis"

In [36]:
def convert(value):
    """
    转换字符串数字为float类型
     - 移除 kongke ,
     - 转化为int类型
    """
    new_value = value.replace(' ', '')
    return np.float(new_value)
population_11['2011 population']=population_11['2011 population'].apply(convert)

population_11_1=population_11.groupby(['region'])['2011 population'].agg('sum')
population_11_2=population_11_1.to_frame()
population_11_2

        2011 population
region
中西區            251519.0
九龍城            377351.0
元朗             578529.0
北區             304134.0
南區             278655.0
大埔             296853.0
屯門             487546.0
東區             588094.0
沙田             630273.0
油尖旺            307878.0
深水埗            380855.0
灣仔             152608.0
荃灣             304637.0
葵青             511167.0
西貢             436627.0
觀塘             622152.0
離島             141327.0
黃大仙            420183.0

In [8]:

population_11_2.to_csv('2011区议会人口.csv',encoding="utf-8")

#### 1.2 Population in 2016

In [10]:
population_16 =pd.read_csv('2016territory and gender.csv')

In [11]:
population_16.reset_index(drop=True)

rows= [0,1,2,3,8,14,24,25,26,27,28,29,30,31,32,33,34,35,36]
for i in rows:
    population_16.drop([i], inplace=True, axis=0) 

population_16.drop(['按區議會分區及性別劃分的人口'], inplace = True, axis =1)
population_16.drop(['Unnamed: 1'], inplace = True, axis =1)
population_16.drop(['Unnamed: 3'], inplace = True, axis =1)
population_16.drop(['Unnamed: 4'], inplace = True, axis =1)    


population_16=population_16.rename(columns = {'Unnamed: 2':'region'})
population_16=population_16.rename(columns = {'Unnamed: 5':'2016 population '})

#population_16.set_index('region',inplace = True)
population_16

       2016 population
region
中西區              243266
灣仔               180123
東區               555034
南區               274994
油尖旺              342970
深水埗              405869
九龍城              418732
黃大仙              425235
觀塘               648541
葵青               520572
荃灣               318916
屯門               489299
元朗               614178
北區               315270
大埔               303926
沙田               659794
西貢               461864
離島               156801

In [16]:
population_16.to_csv('2016区议会人口.csv',encoding="utf-8")

#### 1.3 Merge

In [40]:
population = pd.merge(population_11_2,population_16, on='region')

population

        2011 population 2016 population
region
中西區            251519.0           243266
九龍城            377351.0           418732
元朗             578529.0           614178
北區             304134.0           315270
南區             278655.0           274994
大埔             296853.0           303926
屯門             487546.0           489299
東區             588094.0           555034
沙田             630273.0           659794
油尖旺            307878.0           342970
深水埗            380855.0           405869
灣仔             152608.0           180123
荃灣             304637.0           318916
葵青             511167.0           520572
西貢             436627.0           461864
觀塘             622152.0           648541
離島             141327.0           156801
黃大仙            420183.0           425235

In [18]:
population.to_csv('2016和2011区议会人口.csv',encoding="utf-8")

### 2. Bike path length

#### 2.1 Bike path length in 2014

In [12]:
bike_2014=pd.read_csv('bike_2014.csv')
bike_2014

                 Unnamed: 0 Unnamed: 1                附件一  Unnamed: 3
0   按區議會分區劃分在各區的單車徑總長度及位置*         NaN                 NaN        NaN
1                       NaN        NaN         （截至二○一四年一月）        NaN
2                       NaN       單車徑                  NaN        NaN
3                      區議會        總長度              單車徑的位置         附註
4                       NaN      （公里）                  NaN        NaN
5                      中西區           0                   -          -
6                        灣仔          0                   -          -
7                        東區          0                   -          -
8                        南區        0.3                 數碼港          -
9                      九龍城           0                   -          -
10                     深水埗           0                   -          -
11                       觀塘          0                   -          -
12                      NaN        NaN                 NaN       由西九文
13                     油尖旺         1.8             西九龍海濱長廊       化區管理
14                      NaN        NaN                 NaN        局管理
15                     黃大仙           0                   -          -
16                       離島         14         東涌道、裕東路、梅窩等          -
17                      NaN        NaN   百和路、和合石、石湖墟、聯和墟、沙        NaN
18                       北區         27                 NaN          -
19                      NaN        NaN           頭角公路龍躍頭段等        NaN
20                      NaN        NaN   寶琳、坑口、調景嶺、將軍澳南、環保        NaN
21                       西貢       20.6                 NaN          -
22                      NaN        NaN          大道近將軍澳工業邨等        NaN
23                      NaN        NaN   大圍城門河、禾輋、圓洲角、小瀝源、        NaN
24                       沙田         56   石門、亞公角、馬鞍山、吐露港公路、          -
25                      NaN        NaN                 火炭等        NaN
26                      NaN        NaN   太和路、汀角路、南運路、吐露港公路        NaN
27                       大埔         35                 NaN          -
28                      NaN        NaN                   等        NaN
29                       荃灣          0                   -          -
30                       葵青          0                   -          -
31                      NaN        NaN  青山公路（藍地段及嶺南段）、屯富路、        NaN
32                      NaN        NaN   田景路、青田路、青松觀路、鳴琴路、        NaN
33                       屯門         20                 NaN          -
34                      NaN        NaN   青雲路、屯門河、龍門路、湖翠路、湖        NaN
35                      NaN        NaN         景路、海皇路、海榮路等        NaN
36                      NaN        NaN  青山公路（元朗段及屏山段）、宏樂街、        NaN
37                       元朗         44  朗屏路、宏達路、元朗工業邨、屏夏路、          -
38                      NaN        NaN            天水圍、洪水橋等        NaN
39                      總計       218.7                 NaN          -
40    * 不包括康樂及文化事務署轄下的單車公園。        NaN                 NaN        NaN

In [13]:
rows= [0,1,2,3,4,12,14,17,19,20,22,23,25,26,28,31,32,34,35,36,38,39,40]
for i in rows:
    bike_2014.drop([i], inplace=True, axis=0) 
    
bike_2014=bike_2014.rename(columns = {'Unnamed: 0':'region'})
bike_2014=bike_2014.rename(columns = {'Unnamed: 1':'2014 bike path'})
bike_2014=bike_2014.rename(columns = {'附件一':'a'})

bike_2014=bike_2014[['region','2014 bike path']]

bike_2014.loc[5,'region'] = 'Central and Western'
bike_2014.loc[6,'region'] = 'Wan Chai'
bike_2014.loc[7,'region'] = 'Eastern'
bike_2014.loc[8,'region'] = 'Southern'
bike_2014.loc[9,'region'] = 'Kowloon City'
bike_2014.loc[10,'region'] = 'Sham Shui Po'
bike_2014.loc[11,'region'] = 'Kwun Tong'
bike_2014.loc[13,'region'] = 'Yau Tsim Mong'
bike_2014.loc[15,'region'] = 'Wong Tai Sin'
bike_2014.loc[16,'region'] = 'Islands'
bike_2014.loc[18,'region'] = 'North'
bike_2014.loc[21,'region'] = 'Sai Kung'
bike_2014.loc[24,'region'] = 'Sha Tin'
bike_2014.loc[27,'region'] = 'Tai Po'
bike_2014.loc[29,'region'] = 'Tsuen Wan'
bike_2014.loc[30,'region'] = 'Kwai Tsing'
bike_2014.loc[33,'region'] = 'Tuen Mun'
bike_2014.loc[37,'region'] = 'Yuen Long'

bike_2014.set_index('region',inplace = True)
bike_2014

                    2014 bike path
region
Central and Western              0
Wan Chai                         0
Eastern                          0
Southern                       0.3
Kowloon City                     0
Sham Shui Po                     0
Kwun Tong                        0
Yau Tsim Mong                  1.8
Wong Tai Sin                     0
Islands                         14
North                           27
Sai Kung                      20.6
Sha Tin                         56
Tai Po                          35
Tsuen Wan                        0
Kwai Tsing                       0
Tuen Mun                        20
Yuen Long                       44

#### 2.2 Bike path length in 2011

In [41]:
bike_2011=pd.read_csv('bike_2011.csv')
bike_2011

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,附件二,附件二.1,附件二.2,附件二.3,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,各區單車徑的長度及位置以及單車泊位數目,各區單車徑的長度及位置以及單車泊位數目,各區單車徑的長度及位置以及單車泊位數目,各區單車徑的長度及位置以及單車泊位數目,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,(截至二零一截至二零一截至二零一截至二零一一年九月一年九月一年九月一年九月)))),((,(,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,區議會,區議會,區議會,區議會,單車徑長度,單車徑長度,單車徑長度,單車徑長度,單車泊位,單車泊位,單車泊位,單車泊位
3,NaN,NaN,NaN,NaN,NaN,NaN,單車徑的位置,單車徑的位置,單車徑的位置,單車徑的位置,NaN,NaN,NaN
4,NaN,分區,分區分區,分區,(公里公里公里公里)))),((,(,數目,數目數目,數目,NaN,NaN,NaN
5,中西區,NaN,NaN,0,NaN,0,-,NaN,NaN,NaN,NaN,NaN,NaN
6,灣仔,NaN,NaN,0,NaN,0,-,NaN,NaN,NaN,NaN,NaN,NaN
7,東區,NaN,NaN,0,NaN,10,-,NaN,NaN,NaN,NaN,NaN,NaN
8,南區,NaN,NaN,0.3,NaN,0,數碼港,NaN,NaN,NaN,NaN,NaN,NaN
9,九龍城,NaN,NaN,0,NaN,0,-,NaN,NaN,NaN,NaN,NaN,NaN
10,深水埗,NaN,NaN,0,NaN,60,-,NaN,NaN,NaN,NaN,NaN,NaN
11,觀塘,NaN,NaN,0,NaN,0,-,NaN,NaN,NaN,NaN,NaN,NaN
12,葵青,NaN,NaN,0,NaN,0,-,NaN,NaN,NaN,NaN,NaN,NaN
13,油尖旺,NaN,NaN,1.5,NaN,0,西九龍海濱長廊,NaN,NaN,NaN,NaN,NaN,NaN
14,黃大仙,NaN,NaN,0,NaN,0,-,NaN,NaN,NaN,NaN,NaN,NaN
15,離島,NaN,NaN,14,NaN,"5,050",東涌道、裕東路、梅窩等,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,百和路、和合石、石湖墟、,NaN,NaN,NaN,NaN,NaN,NaN
17,北區,NaN,NaN,27,NaN,"3,190",NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,聯和墟、沙頭角公路龍躍頭段等,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,寶琳、坑口、調景嶺、環保大道近將軍澳,NaN,NaN,NaN,NaN,NaN,NaN
20,西貢,NaN,NaN,15,NaN,"3,370",NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,工業邨等,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,大圍城門河、禾輋、圓洲角、,NaN,NaN,NaN,NaN,NaN,NaN
23,沙田,NaN,NaN,50,"10,620",NaN,小瀝源、石門、亞公角、馬鞍山、吐露港,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,公路、火炭等,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,湖景路、龍門路近蝴蝶灣公園、屯門河近,NaN,NaN,NaN,NaN,NaN,NaN
26,屯門,NaN,NaN,20,NaN,"3,890",湖山河畔公園、,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,屯門站、田景、藍地等,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,太和路、汀角路、南運路、,NaN,NaN,NaN,NaN,NaN,NaN
29,大埔,NaN,NaN,35,NaN,"3,480",NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,吐露港公路等,NaN,NaN,NaN,NaN,NaN,NaN
31,荃灣,NaN,NaN,0,NaN,170,-,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,洪水橋、屏山、橫洲、青山公路元朗段、,NaN,NaN,NaN,NaN,NaN,NaN
33,元朗,NaN,NaN,44,"11,560",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,錦田公路、天水圍等,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,總數,NaN,206.8,"41,440",NaN,-,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
rows= [0,1,2,3,4,16,18,19,21,22,24,25,27,28,30,32,34,35]
for i in rows:
    bike_2011.drop([i], inplace=True, axis=0) 
    
bike_2011=bike_2011.rename(columns = {'Unnamed: 0':'region'})
bike_2011=bike_2011.rename(columns = {'Unnamed: 3':'2011 bike path'})
bike_2011=bike_2011[['region','2011 bike path']]

bike_2011.set_index('region',inplace = True)


bike_2011

       2011 bike path
region
中西區                 0
灣仔                  0
東區                  0
南區                0.3
九龍城                 0
深水埗                 0
觀塘                  0
葵青                  0
油尖旺               1.5
黃大仙                 0
離島                 14
北區                 27
西貢                 15
沙田                 50
屯門                 20
大埔                 35
荃灣                  0
元朗                 44

#### 2.3 Merge

In [43]:
path_pop1 = pd.merge(bike_2011,population, on='region')
path_pop1

       2011 bike path  2011 population 2016 population
region
中西區                 0         251519.0           243266
灣仔                  0         152608.0           180123
東區                  0         588094.0           555034
南區                0.3         278655.0           274994
九龍城                 0         377351.0           418732
深水埗                 0         380855.0           405869
觀塘                  0         622152.0           648541
葵青                  0         511167.0           520572
油尖旺               1.5         307878.0           342970
黃大仙                 0         420183.0           425235
離島                 14         141327.0           156801
北區                 27         304134.0           315270
西貢                 15         436627.0           461864
沙田                 50         630273.0           659794
屯門                 20         487546.0           489299
大埔                 35         296853.0           303926
荃灣                  0         304637.0           318916
元朗                 44         578529.0           614178

In [44]:
path_pop1=path_pop1.rename(index = {'中西區':'Central and Western'})
path_pop1=path_pop1.rename(index = {'灣仔':'Wanchai'})
path_pop1=path_pop1.rename(index = {'東區':'Eastern'})
path_pop1=path_pop1.rename(index = {'南區':'Southern'})
path_pop1=path_pop1.rename(index = {'九龍城':'Kowloon City'})
path_pop1=path_pop1.rename(index = {'深水埗':'Sham Shui Po'})
path_pop1=path_pop1.rename(index = {'觀塘':'Kwun Tong'})
path_pop1=path_pop1.rename(index = {'葵青':'Kwai Tsing'})
path_pop1=path_pop1.rename(index = {'油尖旺':'Yau Tsim Mong'})
path_pop1=path_pop1.rename(index = {'黃大仙':'Wang Tai Sin'})
path_pop1=path_pop1.rename(index = {'離島':'Islang'})
path_pop1=path_pop1.rename(index = {'北區':'North'})
path_pop1=path_pop1.rename(index = {'西貢':'Sai Kung'})
path_pop1=path_pop1.rename(index = {'沙田':'Sha Tin'})
path_pop1=path_pop1.rename(index = {'屯門':'Tuen Mun'})
path_pop1=path_pop1.rename(index = {'大埔':'Tai Po'})
path_pop1=path_pop1.rename(index = {'荃灣':'Tsuen Wan'})
path_pop1=path_pop1.rename(index = {'元朗':'Yuen Long'})
path_pop1

                    2011 bike path  2011 population 2016 population
region
Central and Western              0         251519.0           243266
Wanchai                          0         152608.0           180123
Eastern                          0         588094.0           555034
Southern                       0.3         278655.0           274994
Kowloon City                     0         377351.0           418732
Sham Shui Po                     0         380855.0           405869
Kwun Tong                        0         622152.0           648541
Kwai Tsing                       0         511167.0           520572
Yau Tsim Mong                  1.5         307878.0           342970
Wang Tai Sin                     0         420183.0           425235
Islang                          14         141327.0           156801
North                           27         304134.0           315270
Sai Kung                        15         436627.0           461864
Sha Tin                         50         630273.0           659794
Tuen Mun                        20         487546.0           489299
Tai Po                          35         296853.0           303926
Tsuen Wan                        0         304637.0           318916
Yuen Long                       44         578529.0           614178

In [32]:
path_pop2 = pd.merge(bike_2014,path_pop1,on='region')
path_pop2

,2014 bike path,2011 bike path,2011 population,2016 population
region,,,,
Central and Western,0,0,251519,243266
Wanchai,0,0,152608,180123
Eastern,0,0,588094,555034
Southern,0.3,0.3,278655,274994
Kowloon City,0,0,377351,418732
Sham Shui Po,0,0,380855,405869
Kwun Tong,0,0,622152,648541
Yau Tsim Mong,1.8,1.5,307878,342970
Wang Tai Sin,0,0,420183,425235
Islang,14,14,141327,156801
North,27,27,304134,315270
Sai Kung,20.6,15,436627,461864
Sha Tin,56,50,630273,659794
Tai Po,35,35,296853,303926
Tsuen Wan,0,0,304637,318916
Kwai Tsing,0,0,511167,520572
Tuen Mun,20,20,487546,489299
Yuen Long,44,44,578529,614178

In [33]:
path_pop2.to_csv('path_pop.csv',encoding="utf-8")

### 3. Injury

In [52]:
injury=pd.read_csv('injury1.csv')
injury

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,附件,附件附件,附件
0,NaN,NaN,NaN,按區議會分區劃分涉及單車意外宗數及傷亡人數,按區議會分區劃分涉及單車意外宗數及傷亡人數,按區議會分區劃分涉及單車意外宗數及傷亡人數,按區議會分區劃分涉及單車意外宗數及傷亡人數,NaN,NaN,NaN
1,NaN,NaN,NaN,(2009 年至年至年至年至,2011 年年年年 ),NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,意外宗數,NaN,傷亡人數,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,2009,2010,2011,2009,2010,2011,NaN
4,NaN,NaN,NaN,中西區,12,15,11,12,17,11
5,NaN,NaN,NaN,東區,15,17,19,15,18,19
6,香港,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,南區,6,10,10,7,13,10
8,NaN,NaN,NaN,灣仔,17,13,18,17,13,19
9,NaN,NaN,NaN,九龍城,13,10,18,15,10,18
10,NaN,NaN,NaN,觀塘,17,19,27,18,26,28
11,九龍,NaN,NaN,深水埗,27,32,32,27,34,32
12,NaN,NaN,NaN,黃大仙,5,6,19,5,6,23
13,NaN,NaN,NaN,油尖旺,50,45,51,51,45,54
14,NaN,NaN,NaN,離島,74,109,124,79,111,132
15,NaN,NaN,NaN,葵青,29,27,26,30,28,26
16,NaN,NaN,NaN,北區,177,180,238,180,190,243
17,NaN,NaN,NaN,沙田,504,495,604,527,521,630
18,新界,NaN,NaN,屯門,121,121,170,126,123,181
19,NaN,NaN,NaN,大埔,407,406,507,424,421,529
20,NaN,NaN,NaN,荃灣,30,51,66,30,54,68
21,NaN,NaN,NaN,西貢,22,28,27,23,30,29
22,NaN,NaN,NaN,元朗,267,330,381,282,336,391
23,NaN,NaN,NaN,總計,"1,793","1,914","2,348","1,868","1,996","2,443"
24,註： 單車意外傷亡人數包括，騎單車者、行人及其他道路使用者;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,於 2009、 2010 及,2011 年，傷勢輕微的人士佔總傷亡人數分,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,別為87%、 86%及,85%。,NaN,NaN,NaN,NaN,NaN

In [53]:
rows= [0,1,2,3,6,23,24,25,26]
for i in rows:
    injury.drop([i], inplace=True, axis=0) 
injury=injury.rename(columns = {'Unnamed: 3':'region'})
injury=injury.rename(columns = {'Unnamed: 4':'2009 accident'})
injury=injury.rename(columns = {'Unnamed: 5':'2010 accident'})
injury=injury.rename(columns = {'Unnamed: 6':'2011 accident'})
injury=injury.rename(columns = {'附件 ':'2009 casualties'})
injury=injury.rename(columns = {'附件附件':'2010 casualties'})
injury=injury.rename(columns = {'附件':'2011 casualties'})

injury.drop(['Unnamed: 0'], inplace = True, axis =1)
injury.drop(['Unnamed: 1'], inplace = True, axis =1)
injury.drop(['Unnamed: 2'], inplace = True, axis =1)

injury.loc[4,'region'] = 'Central and Western'
injury.loc[8,'region'] = 'Wan Chai'
injury.loc[5,'region'] = 'Eastern'
injury.loc[7,'region'] = 'Southern'
injury.loc[9,'region'] = 'Kowloon City'
injury.loc[11,'region'] = 'Sham Shui Po'
injury.loc[10,'region'] = 'Kwun Tong'
injury.loc[13,'region'] = 'Yau Tsim Mong'
injury.loc[12,'region'] = 'Wong Tai Sin'
injury.loc[14,'region'] = 'Islands'
injury.loc[16,'region'] = 'North'
injury.loc[21,'region'] = 'Sai Kung'
injury.loc[17,'region'] = 'Sha Tin'
injury.loc[19,'region'] = 'Tai Po'
injury.loc[20,'region'] = 'Tsuen Wan'
injury.loc[15,'region'] = 'Kwai Tsing'
injury.loc[18,'region'] = 'Tuen Mun'
injury.loc[22,'region'] = 'Yuen Long'
injury

,region,2009 accident,2010 accident,2011 accident,2009 casualties,2010 casualties,2011 casualties
4,Central and Western,12,15,11,12,17,11
5,Eastern,15,17,19,15,18,19
7,Southern,6,10,10,7,13,10
8,Wan Chai,17,13,18,17,13,19
9,Kowloon City,13,10,18,15,10,18
10,Kwun Tong,17,19,27,18,26,28
11,Sham Shui Po,27,32,32,27,34,32
12,Wong Tai Sin,5,6,19,5,6,23
13,Yau Tsim Mong,50,45,51,51,45,54
14,Islands,74,109,124,79,111,132
15,Kwai Tsing,29,27,26,30,28,26
16,North,177,180,238,180,190,243
17,Sha Tin,504,495,604,527,521,630
18,Tuen Mun,121,121,170,126,123,181
19,Tai Po,407,406,507,424,421,529
20,Tsuen Wan,30,51,66,30,54,68
21,Sai Kung,22,28,27,23,30,29
22,Yuen Long,267,330,381,282,336,391

In [38]:
injury.set_index('region',inplace = True)

In [39]:
injury.to_csv('injury.csv',encoding="utf-8")

In [40]:
#merge
path_pop_injury = pd.merge(path_pop2,injury,on='region')
path_pop_injury

,2014 bike path,2011 bike path,2011 population,2016 population,2009 accident,2010 accident,2011 accident,2009 casualties,2010 casualties,2011 casualties
region,,,,,,,,,,
Central and Western,0,0,251519,243266,13.0,10.0,18.0,15.0,10.0,18.0
Wanchai,0,0,152608,180123,50.0,45.0,51.0,51.0,45.0,54.0
Eastern,0,0,588094,555034,17.0,19.0,27.0,18.0,26.0,28.0
Southern,0.3,0.3,278655,274994,5.0,6.0,19.0,5.0,6.0,23.0
Kowloon City,0,0,377351,418732,74.0,109.0,124.0,79.0,111.0,132.0
Sham Shui Po,0,0,380855,405869,177.0,180.0,238.0,180.0,190.0,243.0
Kwun Tong,0,0,622152,648541,29.0,27.0,26.0,30.0,28.0,26.0
Yau Tsim Mong,1.8,1.5,307878,342970,121.0,121.0,170.0,126.0,123.0,181.0
Wang Tai Sin,0,0,420183,425235,504.0,495.0,604.0,527.0,521.0,630.0
Islang,14,14,141327,156801,407.0,406.0,507.0,424.0,421.0,529.0
North,27,27,304134,315270,22.0,28.0,27.0,23.0,30.0,29.0
Sai Kung,20.6,15,436627,461864,NaN,NaN,NaN,NaN,NaN,NaN
Sha Tin,56,50,630273,659794,267.0,330.0,381.0,282.0,336.0,391.0
Tai Po,35,35,296853,303926,NaN,NaN,NaN,NaN,NaN,NaN
Tsuen Wan,0,0,304637,318916,NaN,NaN,NaN,NaN,NaN,NaN
Kwai Tsing,0,0,511167,520572,30.0,51.0,66.0,30.0,54.0,68.0
Tuen Mun,20,20,487546,489299,NaN,NaN,NaN,NaN,NaN,NaN
Yuen Long,44,44,578529,614178,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
def convert(value):
    """
    转换字符串数字为float类型
     - 移除 kongke ,
     - 转化为int类型
    """
    new_value = value.replace(' ', '')
    return np.float(new_value)
path_pop_injury['2014 bike path']=path_pop_injury['2014 bike path'].apply(convert)
path_pop_injury['2011 bike path']=path_pop_injury['2011 bike path'].apply(convert)

In [42]:
path_pop_injury['2014 bike path'] = path_pop_injury['2014 bike path'].map(lambda x: x*1000)
path_pop_injury['2011 bike path'] = path_pop_injury['2011 bike path'].map(lambda x: x*1000)

In [43]:
path_pop_injury

,2014 bike path,2011 bike path,2011 population,2016 population,2009 accident,2010 accident,2011 accident,2009 casualties,2010 casualties,2011 casualties
region,,,,,,,,,,
Central and Western,0.0,0.0,251519,243266,13.0,10.0,18.0,15.0,10.0,18.0
Wanchai,0.0,0.0,152608,180123,50.0,45.0,51.0,51.0,45.0,54.0
Eastern,0.0,0.0,588094,555034,17.0,19.0,27.0,18.0,26.0,28.0
Southern,300.0,300.0,278655,274994,5.0,6.0,19.0,5.0,6.0,23.0
Kowloon City,0.0,0.0,377351,418732,74.0,109.0,124.0,79.0,111.0,132.0
Sham Shui Po,0.0,0.0,380855,405869,177.0,180.0,238.0,180.0,190.0,243.0
Kwun Tong,0.0,0.0,622152,648541,29.0,27.0,26.0,30.0,28.0,26.0
Yau Tsim Mong,1800.0,1500.0,307878,342970,121.0,121.0,170.0,126.0,123.0,181.0
Wang Tai Sin,0.0,0.0,420183,425235,504.0,495.0,604.0,527.0,521.0,630.0
Islang,14000.0,14000.0,141327,156801,407.0,406.0,507.0,424.0,421.0,529.0
North,27000.0,27000.0,304134,315270,22.0,28.0,27.0,23.0,30.0,29.0
Sai Kung,20600.0,15000.0,436627,461864,NaN,NaN,NaN,NaN,NaN,NaN
Sha Tin,56000.0,50000.0,630273,659794,267.0,330.0,381.0,282.0,336.0,391.0
Tai Po,35000.0,35000.0,296853,303926,NaN,NaN,NaN,NaN,NaN,NaN
Tsuen Wan,0.0,0.0,304637,318916,NaN,NaN,NaN,NaN,NaN,NaN
Kwai Tsing,0.0,0.0,511167,520572,30.0,51.0,66.0,30.0,54.0,68.0
Tuen Mun,20000.0,20000.0,487546,489299,NaN,NaN,NaN,NaN,NaN,NaN
Yuen Long,44000.0,44000.0,578529,614178,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
path_pop_injury['2014 bike path']=path_pop_injury['2014 bike path'].astype(int)
path_pop_injury['2011 bike path']=path_pop_injury['2011 bike path'].astype(int)
path_pop_injury

,2014 bike path,2011 bike path,2011 population,2016 population,2009 accident,2010 accident,2011 accident,2009 casualties,2010 casualties,2011 casualties
region,,,,,,,,,,
Central and Western,0,0,251519,243266,13.0,10.0,18.0,15.0,10.0,18.0
Wanchai,0,0,152608,180123,50.0,45.0,51.0,51.0,45.0,54.0
Eastern,0,0,588094,555034,17.0,19.0,27.0,18.0,26.0,28.0
Southern,300,300,278655,274994,5.0,6.0,19.0,5.0,6.0,23.0
Kowloon City,0,0,377351,418732,74.0,109.0,124.0,79.0,111.0,132.0
Sham Shui Po,0,0,380855,405869,177.0,180.0,238.0,180.0,190.0,243.0
Kwun Tong,0,0,622152,648541,29.0,27.0,26.0,30.0,28.0,26.0
Yau Tsim Mong,1800,1500,307878,342970,121.0,121.0,170.0,126.0,123.0,181.0
Wang Tai Sin,0,0,420183,425235,504.0,495.0,604.0,527.0,521.0,630.0
Islang,14000,14000,141327,156801,407.0,406.0,507.0,424.0,421.0,529.0
North,27000,27000,304134,315270,22.0,28.0,27.0,23.0,30.0,29.0
Sai Kung,20600,15000,436627,461864,NaN,NaN,NaN,NaN,NaN,NaN
Sha Tin,56000,50000,630273,659794,267.0,330.0,381.0,282.0,336.0,391.0
Tai Po,35000,35000,296853,303926,NaN,NaN,NaN,NaN,NaN,NaN
Tsuen Wan,0,0,304637,318916,NaN,NaN,NaN,NaN,NaN,NaN
Kwai Tsing,0,0,511167,520572,30.0,51.0,66.0,30.0,54.0,68.0
Tuen Mun,20000,20000,487546,489299,NaN,NaN,NaN,NaN,NaN,NaN
Yuen Long,44000,44000,578529,614178,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
path_pop_injury.to_csv('path_pop_injury.csv',encoding="utf-8")

### 4. Rent and income

#### 4.1 2011

In [10]:
rent_income=pd.read_csv('2011_rent_income.csv')
rent_income

,2011年按區議會分區劃分的家庭住戶每月收入、租金、按揭供款及借貸還款中位數；租金與 收入比率中位數；按揭供款及借貸還款與收入比率中位數 (E201),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,區議會分區,NaN,NaN,\n家庭住戶每月\n收入中位數\n（港元）,\n家庭住戶每月租金\n中位數 (1)\n（港元）,\n家庭住戶每月按揭供款及借貸還款\n中位數 (2)\n（港元）,\n租金與收入比率\n中位數 (1)\n（百分比）,\n按揭供款及借貸還款與收入比率\n中位數 (2)\n（百分比）,NaN,NaN,NaN,NaN
1,香港島,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,中西區,NaN,NaN,"33,000","9,500","10,000",24.1,20.4,NaN,NaN,NaN,NaN
3,灣仔,NaN,NaN,"36,150","12,000","12,500",25.6,23.0,NaN,NaN,NaN,NaN
4,東區,NaN,NaN,"25,400","1,980","8,540",16.1,20.3,NaN,NaN,NaN,NaN
5,南區,NaN,NaN,"25,700","1,530","8,000",12.1,19.6,NaN,NaN,NaN,NaN
6,小計,NaN,NaN,"28,040","3,640","9,000",18.0,20.3,NaN,NaN,NaN,NaN
7,九龍,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,油尖旺,NaN,NaN,"22,070","5,410","8,840",26.0,22.5,NaN,NaN,NaN,NaN
9,深水埗,NaN,NaN,"16,280","1,800","8,000",17.7,20.7,NaN,NaN,NaN,NaN
10,九龍城,NaN,NaN,"23,560","2,900","10,000",19.5,22.4,NaN,NaN,NaN,NaN
11,黃大仙,NaN,NaN,"17,000","1,340","6,000",11.5,18.9,NaN,NaN,NaN,NaN
12,觀塘,NaN,NaN,"15,960","1,520","6,450",13.2,19.7,NaN,NaN,NaN,NaN
13,小計,NaN,NaN,"18,020","1,750","7,470",15.3,20.8,NaN,NaN,NaN,NaN
14,新界,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,葵青,NaN,NaN,"17,000","1,400","6,500",11.3,18.5,NaN,NaN,NaN,NaN
16,荃灣,NaN,NaN,"24,100","1,880","8,000",15.6,19.7,NaN,NaN,NaN,NaN
17,屯門,NaN,NaN,"18,000",900,"5,110",9.2,17.9,NaN,NaN,NaN,NaN
18,元朗,NaN,NaN,"18,000","1,380","5,590",12.1,19.0,NaN,NaN,NaN,NaN
19,北區,NaN,NaN,"18,580","1,330","5,600",13.1,18.5,NaN,NaN,NaN,NaN
20,大埔,NaN,NaN,"22,340","1,300","6,340",13.4,18.1,NaN,NaN,NaN,NaN
21,沙田,NaN,NaN,"23,040","1,390","7,000",12.2,19.5,NaN,NaN,NaN,NaN
22,西貢,NaN,NaN,"26,870","1,800","7,100",14.3,19.2,NaN,NaN,NaN,NaN
23,離島,NaN,NaN,"21,000","2,080","8,500",13.4,20.2,NaN,NaN,NaN,NaN
24,小計,NaN,NaN,"20,040","1,390","6,500",12.1,18.9,NaN,NaN,NaN,NaN
25,陸上總計,NaN,NaN,"20,500","1,600","7,000",13.9,19.6,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,註釋：,(1),這些數字是根據居於租住居所的家庭住戶編製。詳細的涵蓋範圍請參閱2011年人口普查網站（www...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,(2)\n,這些數字是根據居於自置屋宇單位及有按揭或貸款的家庭住戶編製。詳細的涵蓋範圍請參閱2011年人...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,資料來源,：,香港特別行政區政府 政府統計處\n二零一一年人口普查辦事處\n(查詢電話：2716 8025...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,修訂日期,：,2012 年 2 月 21 日,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
rent_income.columns

Index(['2011年按區議會分區劃分的家庭住戶每月收入、租金、按揭供款及借貸還款中位數；租金與\n收入比率中位數；按揭供款及借貸還款與收入比率中位數 (E201)',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11'],
      dtype='object')

In [12]:
rows= [0,1,6,7,13,14,24,25,26,27,28,29,30,31,32,33]
for i in rows:
    rent_income.drop([i], inplace=True, axis=0) 
rent_income=rent_income.rename(columns = {'Unnamed: 3':'2011 income'})
rent_income=rent_income.rename(columns = {'Unnamed: 4':'2011 rent'})
rent_income=rent_income.rename(columns = {'2011年按區議會分區劃分的家庭住戶每月收入、租金、按揭供款及借貸還款中位數；租金與\n收入比率中位數；按揭供款及借貸還款與收入比率中位數 (E201)':'region'})
rent_income

,region,Unnamed: 1,Unnamed: 2,2011 income,2011 rent,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
2,中西區,NaN,NaN,"33,000","9,500","10,000",24.1,20.4,NaN,NaN,NaN,NaN
3,灣仔,NaN,NaN,"36,150","12,000","12,500",25.6,23.0,NaN,NaN,NaN,NaN
4,東區,NaN,NaN,"25,400","1,980","8,540",16.1,20.3,NaN,NaN,NaN,NaN
5,南區,NaN,NaN,"25,700","1,530","8,000",12.1,19.6,NaN,NaN,NaN,NaN
8,油尖旺,NaN,NaN,"22,070","5,410","8,840",26.0,22.5,NaN,NaN,NaN,NaN
9,深水埗,NaN,NaN,"16,280","1,800","8,000",17.7,20.7,NaN,NaN,NaN,NaN
10,九龍城,NaN,NaN,"23,560","2,900","10,000",19.5,22.4,NaN,NaN,NaN,NaN
11,黃大仙,NaN,NaN,"17,000","1,340","6,000",11.5,18.9,NaN,NaN,NaN,NaN
12,觀塘,NaN,NaN,"15,960","1,520","6,450",13.2,19.7,NaN,NaN,NaN,NaN
15,葵青,NaN,NaN,"17,000","1,400","6,500",11.3,18.5,NaN,NaN,NaN,NaN
16,荃灣,NaN,NaN,"24,100","1,880","8,000",15.6,19.7,NaN,NaN,NaN,NaN
17,屯門,NaN,NaN,"18,000",900,"5,110",9.2,17.9,NaN,NaN,NaN,NaN
18,元朗,NaN,NaN,"18,000","1,380","5,590",12.1,19.0,NaN,NaN,NaN,NaN
19,北區,NaN,NaN,"18,580","1,330","5,600",13.1,18.5,NaN,NaN,NaN,NaN
20,大埔,NaN,NaN,"22,340","1,300","6,340",13.4,18.1,NaN,NaN,NaN,NaN
21,沙田,NaN,NaN,"23,040","1,390","7,000",12.2,19.5,NaN,NaN,NaN,NaN
22,西貢,NaN,NaN,"26,870","1,800","7,100",14.3,19.2,NaN,NaN,NaN,NaN
23,離島,NaN,NaN,"21,000","2,080","8,500",13.4,20.2,NaN,NaN,NaN,NaN

In [13]:
rent_income.loc[2,'region'] = 'Central and Western'
rent_income.loc[3,'region'] = 'Wanchai'
rent_income.loc[4,'region'] = 'Eastern'
rent_income.loc[5,'region'] = 'Southern'
rent_income.loc[10,'region'] = 'Kowloon City'
rent_income.loc[9,'region'] = 'Sham Shui Po'
rent_income.loc[12,'region'] = 'Kwun Tong'
rent_income.loc[8,'region'] = 'Yau Tsim Mong'
rent_income.loc[11,'region'] = 'Wang Tai Sin'
rent_income.loc[23,'region'] = 'Islang'
rent_income.loc[19,'region'] = 'North'
rent_income.loc[22,'region'] = 'Sai Kung'
rent_income.loc[21,'region'] = 'Sha Tin'
rent_income.loc[20,'region'] = 'Tai Po'
rent_income.loc[16,'region'] = 'Tsuen Wan'
rent_income.loc[15,'region'] = 'Kwai Tsing'
rent_income.loc[17,'region'] = 'Tuen Mun'
rent_income.loc[18,'region'] = 'Yuen Long'
rent_income

,region,Unnamed: 1,Unnamed: 2,2011 income,2011 rent,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
2,Central and Western,NaN,NaN,"33,000","9,500","10,000",24.1,20.4,NaN,NaN,NaN,NaN
3,Wanchai,NaN,NaN,"36,150","12,000","12,500",25.6,23.0,NaN,NaN,NaN,NaN
4,Eastern,NaN,NaN,"25,400","1,980","8,540",16.1,20.3,NaN,NaN,NaN,NaN
5,Southern,NaN,NaN,"25,700","1,530","8,000",12.1,19.6,NaN,NaN,NaN,NaN
8,Yau Tsim Mong,NaN,NaN,"22,070","5,410","8,840",26.0,22.5,NaN,NaN,NaN,NaN
9,Sham Shui Po,NaN,NaN,"16,280","1,800","8,000",17.7,20.7,NaN,NaN,NaN,NaN
10,Kowloon City,NaN,NaN,"23,560","2,900","10,000",19.5,22.4,NaN,NaN,NaN,NaN
11,Wang Tai Sin,NaN,NaN,"17,000","1,340","6,000",11.5,18.9,NaN,NaN,NaN,NaN
12,Kwun Tong,NaN,NaN,"15,960","1,520","6,450",13.2,19.7,NaN,NaN,NaN,NaN
15,Kwai Tsing,NaN,NaN,"17,000","1,400","6,500",11.3,18.5,NaN,NaN,NaN,NaN
16,Tsuen Wan,NaN,NaN,"24,100","1,880","8,000",15.6,19.7,NaN,NaN,NaN,NaN
17,Tuen Mun,NaN,NaN,"18,000",900,"5,110",9.2,17.9,NaN,NaN,NaN,NaN
18,Yuen Long,NaN,NaN,"18,000","1,380","5,590",12.1,19.0,NaN,NaN,NaN,NaN
19,North,NaN,NaN,"18,580","1,330","5,600",13.1,18.5,NaN,NaN,NaN,NaN
20,Tai Po,NaN,NaN,"22,340","1,300","6,340",13.4,18.1,NaN,NaN,NaN,NaN
21,Sha Tin,NaN,NaN,"23,040","1,390","7,000",12.2,19.5,NaN,NaN,NaN,NaN
22,Sai Kung,NaN,NaN,"26,870","1,800","7,100",14.3,19.2,NaN,NaN,NaN,NaN
23,Islang,NaN,NaN,"21,000","2,080","8,500",13.4,20.2,NaN,NaN,NaN,NaN

In [14]:
rent_income.drop(['Unnamed: 1'], inplace = True, axis =1)
rent_income.drop(['Unnamed: 2'], inplace = True, axis =1)
rent_income.drop(['Unnamed: 5'], inplace = True, axis =1)
rent_income.drop(['Unnamed: 6'], inplace = True, axis =1)
rent_income.drop(['Unnamed: 7'], inplace = True, axis =1)
rent_income.drop(['Unnamed: 8'], inplace = True, axis =1)
rent_income.drop(['Unnamed: 9'], inplace = True, axis =1)
rent_income.drop(['Unnamed: 10'], inplace = True, axis =1)
rent_income.drop(['Unnamed: 11'], inplace = True, axis =1)
rent_income

                 region 2011 income 2011 rent
2   Central and Western      33,000     9,500
3               Wanchai      36,150    12,000
4               Eastern      25,400     1,980
5              Southern      25,700     1,530
8         Yau Tsim Mong      22,070     5,410
9          Sham Shui Po      16,280     1,800
10         Kowloon City      23,560     2,900
11         Wang Tai Sin      17,000     1,340
12            Kwun Tong      15,960     1,520
15           Kwai Tsing      17,000     1,400
16            Tsuen Wan      24,100     1,880
17             Tuen Mun      18,000       900
18            Yuen Long      18,000     1,380
19                North      18,580     1,330
20               Tai Po      22,340     1,300
21              Sha Tin      23,040     1,390
22             Sai Kung      26,870     1,800
23               Islang      21,000     2,080

In [15]:
rent_income.set_index('region',inplace = True)

In [18]:
#merge
path_pop_injury_rent_1 = pd.merge(path_pop_injury,rent_income,on='region')
path_pop_injury_rent_1

,region,2014 bike path,2011 bike path,2011 population,2016 population,2009 accident,2010 accident,2011 accident,2009 casualties,2010 casualties,2011 casualties,2011 income,2011 rent
0,Central and Western,0,0,251519,243266,13.0,10.0,18.0,15.0,10.0,18.0,"33,000","9,500"
1,Wanchai,0,0,152608,180123,50.0,45.0,51.0,51.0,45.0,54.0,"36,150","12,000"
2,Eastern,0,0,588094,555034,17.0,19.0,27.0,18.0,26.0,28.0,"25,400","1,980"
3,Southern,300,300,278655,274994,5.0,6.0,19.0,5.0,6.0,23.0,"25,700","1,530"
4,Kowloon City,0,0,377351,418732,74.0,109.0,124.0,79.0,111.0,132.0,"23,560","2,900"
5,Sham Shui Po,0,0,380855,405869,177.0,180.0,238.0,180.0,190.0,243.0,"16,280","1,800"
6,Kwun Tong,0,0,622152,648541,29.0,27.0,26.0,30.0,28.0,26.0,"15,960","1,520"
7,Yau Tsim Mong,1800,1500,307878,342970,121.0,121.0,170.0,126.0,123.0,181.0,"22,070","5,410"
8,Wang Tai Sin,0,0,420183,425235,504.0,495.0,604.0,527.0,521.0,630.0,"17,000","1,340"
9,Islang,14000,14000,141327,156801,407.0,406.0,507.0,424.0,421.0,529.0,"21,000","2,080"
10,North,27000,27000,304134,315270,22.0,28.0,27.0,23.0,30.0,29.0,"18,580","1,330"
11,Sai Kung,20600,15000,436627,461864,NaN,NaN,NaN,NaN,NaN,NaN,"26,870","1,800"
12,Sha Tin,56000,50000,630273,659794,267.0,330.0,381.0,282.0,336.0,391.0,"23,040","1,390"
13,Tai Po,35000,35000,296853,303926,NaN,NaN,NaN,NaN,NaN,NaN,"22,340","1,300"
14,Tsuen Wan,0,0,304637,318916,NaN,NaN,NaN,NaN,NaN,NaN,"24,100","1,880"
15,Kwai Tsing,0,0,511167,520572,30.0,51.0,66.0,30.0,54.0,68.0,"17,000","1,400"
16,Tuen Mun,20000,20000,487546,489299,NaN,NaN,NaN,NaN,NaN,NaN,"18,000",900
17,Yuen Long,44000,44000,578529,614178,NaN,NaN,NaN,NaN,NaN,NaN,"18,000","1,380"

#### 4.1 2016

In [53]:
rent_2016=pd.read_csv('2016_rent.csv')
rent_2016

,按區議會分區及年劃分的家庭住戶每月租金中位數,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,家庭住戶每月租金中位數(1),NaN,NaN,NaN
1,NaN,NaN,NaN,港元,NaN,NaN,NaN
2,年,NaN,NaN,2016,NaN,NaN,NaN
3,地區 - 香港島／九龍／新界,NaN,區議會分區 - 18區,NaN,NaN,NaN,NaN
4,香港島,NaN,中西區,14000,NaN,NaN,NaN
5,NaN,NaN,灣仔(2),14000,NaN,NaN,NaN
6,NaN,NaN,東區(2),3000,NaN,NaN,NaN
7,NaN,NaN,南區,2110,NaN,NaN,NaN
8,NaN,NaN,小計,5500,NaN,NaN,NaN
9,九龍,NaN,油尖旺,6000,NaN,NaN,NaN
10,NaN,NaN,深水埗,2500,NaN,NaN,NaN
11,NaN,NaN,九龍城,2750,NaN,NaN,NaN
12,NaN,NaN,黃大仙,1750,NaN,NaN,NaN
13,NaN,NaN,觀塘,1870,NaN,NaN,NaN
14,NaN,NaN,小計,2250,NaN,NaN,NaN
15,新界,NaN,葵青,1750,NaN,NaN,NaN
16,NaN,NaN,荃灣,2960,NaN,NaN,NaN
17,NaN,NaN,屯門,1110,NaN,NaN,NaN
18,NaN,NaN,元朗,1750,NaN,NaN,NaN
19,NaN,NaN,北區,1900,NaN,NaN,NaN
20,NaN,NaN,大埔,2450,NaN,NaN,NaN
21,NaN,NaN,沙田,1750,NaN,NaN,NaN
22,NaN,NaN,西貢,2260,NaN,NaN,NaN
23,NaN,NaN,離島,2600,NaN,NaN,NaN
24,NaN,NaN,小計,1750,NaN,NaN,NaN
25,合計,NaN,合計,2180,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,註釋：,NaN,NaN,NaN,NaN,NaN,NaN
28,(1),數字是根據居於租住居所的家庭住戶編製。詳細的涵蓋範圍請參閱網站內的用語及定義。,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,(2),2016 年中期人口統計所採用的灣仔區議會及東區區議會分界，不同於 2006 年中期人口統計...,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,- 代表零,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,資料來源:,NaN,NaN,NaN,NaN,NaN,NaN
35,香港特別行政區政府,NaN,NaN,NaN,NaN,NaN,NaN
36,政府統計處,NaN,NaN,NaN,NaN,NaN,NaN
37,2016年中期人口統計辦事處,NaN,NaN,NaN,NaN,NaN,NaN
38,查詢電話：3547 1800,NaN,NaN,NaN,NaN,NaN,NaN
39,電郵：bycensus2016@censtatd.gov.hk,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,發布日期:,NaN,NaN,NaN,NaN,NaN,NaN
42,2017年2月27日,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
rent_2016.columns

Index(['按區議會分區及年劃分的家庭住戶每月租金中位數', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')

In [55]:
rows= [0,1,2,3,8,14,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42]
for i in rows:
    rent_2016.drop([i], inplace=True, axis=0) 
rent_2016=rent_2016.rename(columns = {'Unnamed: 2':'region'})
rent_2016=rent_2016.rename(columns = {'Unnamed: 3':'2016 rent'})
rent_2016

,按區議會分區及年劃分的家庭住戶每月租金中位數,Unnamed: 1,region,2016 rent,Unnamed: 4,Unnamed: 5,Unnamed: 6
4,香港島,NaN,中西區,14000,NaN,NaN,NaN
5,NaN,NaN,灣仔(2),14000,NaN,NaN,NaN
6,NaN,NaN,東區(2),3000,NaN,NaN,NaN
7,NaN,NaN,南區,2110,NaN,NaN,NaN
9,九龍,NaN,油尖旺,6000,NaN,NaN,NaN
10,NaN,NaN,深水埗,2500,NaN,NaN,NaN
11,NaN,NaN,九龍城,2750,NaN,NaN,NaN
12,NaN,NaN,黃大仙,1750,NaN,NaN,NaN
13,NaN,NaN,觀塘,1870,NaN,NaN,NaN
15,新界,NaN,葵青,1750,NaN,NaN,NaN
16,NaN,NaN,荃灣,2960,NaN,NaN,NaN
17,NaN,NaN,屯門,1110,NaN,NaN,NaN
18,NaN,NaN,元朗,1750,NaN,NaN,NaN
19,NaN,NaN,北區,1900,NaN,NaN,NaN
20,NaN,NaN,大埔,2450,NaN,NaN,NaN
21,NaN,NaN,沙田,1750,NaN,NaN,NaN
22,NaN,NaN,西貢,2260,NaN,NaN,NaN
23,NaN,NaN,離島,2600,NaN,NaN,NaN

In [56]:
rent_2016.loc[4,'region'] = 'Central and Western'
rent_2016.loc[5,'region'] = 'Wanchai'
rent_2016.loc[6,'region'] = 'Eastern'
rent_2016.loc[7,'region'] = 'Southern'
rent_2016.loc[11,'region'] = 'Kowloon City'
rent_2016.loc[10,'region'] = 'Sham Shui Po'
rent_2016.loc[13,'region'] = 'Kwun Tong'
rent_2016.loc[9,'region'] = 'Yau Tsim Mong'
rent_2016.loc[12,'region'] = 'Wang Tai Sin'
rent_2016.loc[23,'region'] = 'Islang'
rent_2016.loc[19,'region'] = 'North'
rent_2016.loc[22,'region'] = 'Sai Kung'
rent_2016.loc[21,'region'] = 'Sha Tin'
rent_2016.loc[20,'region'] = 'Tai Po'
rent_2016.loc[16,'region'] = 'Tsuen Wan'
rent_2016.loc[15,'region'] = 'Kwai Tsing'
rent_2016.loc[17,'region'] = 'Tuen Mun'
rent_2016.loc[18,'region'] = 'Yuen Long'
rent_2016

,按區議會分區及年劃分的家庭住戶每月租金中位數,Unnamed: 1,region,2016 rent,Unnamed: 4,Unnamed: 5,Unnamed: 6
4,香港島,NaN,Central and Western,14000,NaN,NaN,NaN
5,NaN,NaN,Wanchai,14000,NaN,NaN,NaN
6,NaN,NaN,Eastern,3000,NaN,NaN,NaN
7,NaN,NaN,Southern,2110,NaN,NaN,NaN
9,九龍,NaN,Yau Tsim Mong,6000,NaN,NaN,NaN
10,NaN,NaN,Sham Shui Po,2500,NaN,NaN,NaN
11,NaN,NaN,Kowloon City,2750,NaN,NaN,NaN
12,NaN,NaN,Wang Tai Sin,1750,NaN,NaN,NaN
13,NaN,NaN,Kwun Tong,1870,NaN,NaN,NaN
15,新界,NaN,Kwai Tsing,1750,NaN,NaN,NaN
16,NaN,NaN,Tsuen Wan,2960,NaN,NaN,NaN
17,NaN,NaN,Tuen Mun,1110,NaN,NaN,NaN
18,NaN,NaN,Yuen Long,1750,NaN,NaN,NaN
19,NaN,NaN,North,1900,NaN,NaN,NaN
20,NaN,NaN,Tai Po,2450,NaN,NaN,NaN
21,NaN,NaN,Sha Tin,1750,NaN,NaN,NaN
22,NaN,NaN,Sai Kung,2260,NaN,NaN,NaN
23,NaN,NaN,Islang,2600,NaN,NaN,NaN

In [57]:
rent_2016.drop(['Unnamed: 1'], inplace = True, axis =1)
rent_2016.drop(['Unnamed: 4'], inplace = True, axis =1)
rent_2016.drop(['Unnamed: 5'], inplace = True, axis =1)
rent_2016.drop(['Unnamed: 6'], inplace = True, axis =1)

rent_2016

   按區議會分區及年劃分的家庭住戶每月租金中位數               region 2016 rent
4                     香港島  Central and Western     14000
5                     NaN              Wanchai     14000
6                     NaN              Eastern      3000
7                     NaN             Southern      2110
9                      九龍        Yau Tsim Mong      6000
10                    NaN         Sham Shui Po      2500
11                    NaN         Kowloon City      2750
12                    NaN         Wang Tai Sin      1750
13                    NaN            Kwun Tong      1870
15                     新界           Kwai Tsing      1750
16                    NaN            Tsuen Wan      2960
17                    NaN             Tuen Mun      1110
18                    NaN            Yuen Long      1750
19                    NaN                North      1900
20                    NaN               Tai Po      2450
21                    NaN              Sha Tin      1750
22                    NaN             Sai Kung      2260
23                    NaN               Islang      2600

In [58]:
rent_2016.drop(['按區議會分區及年劃分的家庭住戶每月租金中位數'], inplace = True, axis =1)

In [59]:
rent_2016.set_index('region',inplace = True)

In [60]:
income_2016=pd.read_csv('2016_income.csv')
income_2016

,按區議會分區及年劃分的家庭住戶每月收入中位數,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,家庭住戶每月收入中位數,NaN,NaN,NaN
1,NaN,NaN,NaN,港元,NaN,NaN,NaN
2,年,NaN,NaN,2016,NaN,NaN,NaN
3,地區 - 香港島／九龍／新界,NaN,區議會分區 - 18區,NaN,NaN,NaN,NaN
4,香港島,NaN,中西區,36000,NaN,NaN,NaN
5,NaN,NaN,灣仔(1),37750,NaN,NaN,NaN
6,NaN,NaN,東區(1),29830,NaN,NaN,NaN
7,NaN,NaN,南區,30000,NaN,NaN,NaN
8,NaN,NaN,小計,31250,NaN,NaN,NaN
9,九龍,NaN,油尖旺,23500,NaN,NaN,NaN
10,NaN,NaN,深水埗,20000,NaN,NaN,NaN
11,NaN,NaN,九龍城,25550,NaN,NaN,NaN
12,NaN,NaN,黃大仙,22000,NaN,NaN,NaN
13,NaN,NaN,觀塘,20160,NaN,NaN,NaN
14,NaN,NaN,小計,21790,NaN,NaN,NaN
15,新界,NaN,葵青,21600,NaN,NaN,NaN
16,NaN,NaN,荃灣,28800,NaN,NaN,NaN
17,NaN,NaN,屯門,22000,NaN,NaN,NaN
18,NaN,NaN,元朗,23000,NaN,NaN,NaN
19,NaN,NaN,北區,21500,NaN,NaN,NaN
20,NaN,NaN,大埔,27000,NaN,NaN,NaN
21,NaN,NaN,沙田,27180,NaN,NaN,NaN
22,NaN,NaN,西貢,32470,NaN,NaN,NaN
23,NaN,NaN,離島,27700,NaN,NaN,NaN
24,NaN,NaN,小計,25000,NaN,NaN,NaN
25,合計,NaN,合計,25000,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,註釋：,NaN,NaN,NaN,NaN,NaN,NaN
28,(1),2016 年中期人口統計所採用的灣仔區議會及東區區議會分界，不同於 2006 年中期人口統計...,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,- 代表零,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,資料來源:,NaN,NaN,NaN,NaN,NaN,NaN
33,香港特別行政區政府,NaN,NaN,NaN,NaN,NaN,NaN
34,政府統計處,NaN,NaN,NaN,NaN,NaN,NaN
35,2016年中期人口統計辦事處,NaN,NaN,NaN,NaN,NaN,NaN
36,查詢電話：3547 1800,NaN,NaN,NaN,NaN,NaN,NaN
37,電郵：bycensus2016@censtatd.gov.hk,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,發布日期:,NaN,NaN,NaN,NaN,NaN,NaN
40,2017年2月27日,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
income_2016.columns

Index(['按區議會分區及年劃分的家庭住戶每月收入中位數', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')

In [62]:
rows= [0,1,2,3,8,14,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40]
for i in rows:
    income_2016.drop([i], inplace=True, axis=0) 
income_2016=income_2016.rename(columns = {'Unnamed: 2':'region'})
income_2016=income_2016.rename(columns = {'Unnamed: 3':'2016 income'})
income_2016

,按區議會分區及年劃分的家庭住戶每月收入中位數,Unnamed: 1,region,2016 income,Unnamed: 4,Unnamed: 5,Unnamed: 6
4,香港島,NaN,中西區,36000,NaN,NaN,NaN
5,NaN,NaN,灣仔(1),37750,NaN,NaN,NaN
6,NaN,NaN,東區(1),29830,NaN,NaN,NaN
7,NaN,NaN,南區,30000,NaN,NaN,NaN
9,九龍,NaN,油尖旺,23500,NaN,NaN,NaN
10,NaN,NaN,深水埗,20000,NaN,NaN,NaN
11,NaN,NaN,九龍城,25550,NaN,NaN,NaN
12,NaN,NaN,黃大仙,22000,NaN,NaN,NaN
13,NaN,NaN,觀塘,20160,NaN,NaN,NaN
15,新界,NaN,葵青,21600,NaN,NaN,NaN
16,NaN,NaN,荃灣,28800,NaN,NaN,NaN
17,NaN,NaN,屯門,22000,NaN,NaN,NaN
18,NaN,NaN,元朗,23000,NaN,NaN,NaN
19,NaN,NaN,北區,21500,NaN,NaN,NaN
20,NaN,NaN,大埔,27000,NaN,NaN,NaN
21,NaN,NaN,沙田,27180,NaN,NaN,NaN
22,NaN,NaN,西貢,32470,NaN,NaN,NaN
23,NaN,NaN,離島,27700,NaN,NaN,NaN

In [63]:
income_2016.loc[4,'region'] = 'Central and Western'
income_2016.loc[5,'region'] = 'Wanchai'
income_2016.loc[6,'region'] = 'Eastern'
income_2016.loc[7,'region'] = 'Southern'
income_2016.loc[11,'region'] = 'Kowloon City'
income_2016.loc[10,'region'] = 'Sham Shui Po'
income_2016.loc[13,'region'] = 'Kwun Tong'
income_2016.loc[9,'region'] = 'Yau Tsim Mong'
income_2016.loc[12,'region'] = 'Wang Tai Sin'
income_2016.loc[23,'region'] = 'Islang'
income_2016.loc[19,'region'] = 'North'
income_2016.loc[22,'region'] = 'Sai Kung'
income_2016.loc[21,'region'] = 'Sha Tin'
income_2016.loc[20,'region'] = 'Tai Po'
income_2016.loc[16,'region'] = 'Tsuen Wan'
income_2016.loc[15,'region'] = 'Kwai Tsing'
income_2016.loc[17,'region'] = 'Tuen Mun'
income_2016.loc[18,'region'] = 'Yuen Long'
income_2016

,按區議會分區及年劃分的家庭住戶每月收入中位數,Unnamed: 1,region,2016 income,Unnamed: 4,Unnamed: 5,Unnamed: 6
4,香港島,NaN,Central and Western,36000,NaN,NaN,NaN
5,NaN,NaN,Wanchai,37750,NaN,NaN,NaN
6,NaN,NaN,Eastern,29830,NaN,NaN,NaN
7,NaN,NaN,Southern,30000,NaN,NaN,NaN
9,九龍,NaN,Yau Tsim Mong,23500,NaN,NaN,NaN
10,NaN,NaN,Sham Shui Po,20000,NaN,NaN,NaN
11,NaN,NaN,Kowloon City,25550,NaN,NaN,NaN
12,NaN,NaN,Wang Tai Sin,22000,NaN,NaN,NaN
13,NaN,NaN,Kwun Tong,20160,NaN,NaN,NaN
15,新界,NaN,Kwai Tsing,21600,NaN,NaN,NaN
16,NaN,NaN,Tsuen Wan,28800,NaN,NaN,NaN
17,NaN,NaN,Tuen Mun,22000,NaN,NaN,NaN
18,NaN,NaN,Yuen Long,23000,NaN,NaN,NaN
19,NaN,NaN,North,21500,NaN,NaN,NaN
20,NaN,NaN,Tai Po,27000,NaN,NaN,NaN
21,NaN,NaN,Sha Tin,27180,NaN,NaN,NaN
22,NaN,NaN,Sai Kung,32470,NaN,NaN,NaN
23,NaN,NaN,Islang,27700,NaN,NaN,NaN

In [64]:
income_2016.drop(['Unnamed: 1'], inplace = True, axis =1)
income_2016.drop(['Unnamed: 4'], inplace = True, axis =1)
income_2016.drop(['Unnamed: 5'], inplace = True, axis =1)
income_2016.drop(['Unnamed: 6'], inplace = True, axis =1)
income_2016.drop(['按區議會分區及年劃分的家庭住戶每月收入中位數'], inplace = True, axis =1)

income_2016

                 region 2016 income
4   Central and Western       36000
5               Wanchai       37750
6               Eastern       29830
7              Southern       30000
9         Yau Tsim Mong       23500
10         Sham Shui Po       20000
11         Kowloon City       25550
12         Wang Tai Sin       22000
13            Kwun Tong       20160
15           Kwai Tsing       21600
16            Tsuen Wan       28800
17             Tuen Mun       22000
18            Yuen Long       23000
19                North       21500
20               Tai Po       27000
21              Sha Tin       27180
22             Sai Kung       32470
23               Islang       27700

In [65]:
income_2016.set_index('region',inplace = True)

In [350]:
path_pop_injury_rent_income_1 = pd.merge(path_pop_injury_rent_1,income_2016,on='region')
path_pop_injury_rent_income= pd.merge(path_pop_injury_rent_income_1,rent_2016,on='region')
path_pop_injury_rent_income

,2014 bike path,2011 bike path,2011 population,2016 population,2009 accident,2010 accident,2011 accident,2009 casualties,2010 casualties,2011 casualties,2011 income,2011 rent,2016 income,2016 rent
region,,,,,,,,,,,,,,
Central and Western,0,0,251519,243266,12,15,11,12,17,11,"33,000","9,500",36000,14000
Wanchai,0,0,152608,180123,17,13,18,17,13,19,"36,150","12,000",37750,14000
Eastern,0,0,588094,555034,15,17,19,15,18,19,"25,400","1,980",29830,3000
Southern,300,300,278655,274994,6,10,10,7,13,10,"25,700","1,530",30000,2110
Kowloon City,0,0,377351,418732,13,10,18,15,10,18,"23,560","2,900",25550,2750
Sham Shui Po,0,0,380855,405869,27,32,32,27,34,32,"16,280","1,800",20000,2500
Kwun Tong,0,0,622152,648541,17,19,27,18,26,28,"15,960","1,520",20160,1870
Yau Tsim Mong,1800,1500,307878,342970,50,45,51,51,45,54,"22,070","5,410",23500,6000
Wang Tai Sin,0,0,420183,425235,5,6,19,5,6,23,"17,000","1,340",22000,1750
Islang,14000,14000,141327,156801,74,109,124,79,111,132,"21,000","2,080",27700,2600
North,27000,27000,304134,315270,177,180,238,180,190,243,"18,580","1,330",21500,1900
Sai Kung,20600,15000,436627,461864,22,28,27,23,30,29,"26,870","1,800",32470,2260
Sha Tin,56000,50000,630273,659794,504,495,604,527,521,630,"23,040","1,390",27180,1750
Tai Po,35000,35000,296853,303926,407,406,507,424,421,529,"22,340","1,300",27000,2450
Tsuen Wan,0,0,304637,318916,30,51,66,30,54,68,"24,100","1,880",28800,2960
Kwai Tsing,0,0,511167,520572,29,27,26,30,28,26,"17,000","1,400",21600,1750
Tuen Mun,20000,20000,487546,489299,121,121,170,126,123,181,"18,000",900,22000,1110
Yuen Long,44000,44000,578529,614178,267,330,381,282,336,391,"18,000","1,380",23000,1750

In [352]:
def convert(value):
    """
    转换字符串数字为float类型
     - 移除 kongke ,
     - 转化为int类型
    """
    new_value = value.replace(',', '')
    return np.int(new_value)
path_pop_injury_rent_income['2011 income']=path_pop_injury_rent_income['2011 income'].apply(convert)
path_pop_injury_rent_income['2011 rent']=path_pop_injury_rent_income['2011 rent'].apply(convert)
path_pop_injury_rent_income

,2014 bike path,2011 bike path,2011 population,2016 population,2009 accident,2010 accident,2011 accident,2009 casualties,2010 casualties,2011 casualties,2011 income,2011 rent,2016 income,2016 rent
region,,,,,,,,,,,,,,
Central and Western,0,0,251519,243266,12,15,11,12,17,11,33000,9500,36000,14000
Wanchai,0,0,152608,180123,17,13,18,17,13,19,36150,12000,37750,14000
Eastern,0,0,588094,555034,15,17,19,15,18,19,25400,1980,29830,3000
Southern,300,300,278655,274994,6,10,10,7,13,10,25700,1530,30000,2110
Kowloon City,0,0,377351,418732,13,10,18,15,10,18,23560,2900,25550,2750
Sham Shui Po,0,0,380855,405869,27,32,32,27,34,32,16280,1800,20000,2500
Kwun Tong,0,0,622152,648541,17,19,27,18,26,28,15960,1520,20160,1870
Yau Tsim Mong,1800,1500,307878,342970,50,45,51,51,45,54,22070,5410,23500,6000
Wang Tai Sin,0,0,420183,425235,5,6,19,5,6,23,17000,1340,22000,1750
Islang,14000,14000,141327,156801,74,109,124,79,111,132,21000,2080,27700,2600
North,27000,27000,304134,315270,177,180,238,180,190,243,18580,1330,21500,1900
Sai Kung,20600,15000,436627,461864,22,28,27,23,30,29,26870,1800,32470,2260
Sha Tin,56000,50000,630273,659794,504,495,604,527,521,630,23040,1390,27180,1750
Tai Po,35000,35000,296853,303926,407,406,507,424,421,529,22340,1300,27000,2450
Tsuen Wan,0,0,304637,318916,30,51,66,30,54,68,24100,1880,28800,2960
Kwai Tsing,0,0,511167,520572,29,27,26,30,28,26,17000,1400,21600,1750
Tuen Mun,20000,20000,487546,489299,121,121,170,126,123,181,18000,900,22000,1110
Yuen Long,44000,44000,578529,614178,267,330,381,282,336,391,18000,1380,23000,1750

In [360]:
path_pop_injury_rent_income.to_csv('path_pop_injury_rent_income.csv',encoding="utf-8")

### 5. Land area

In [24]:
with open('path_pop_injury_rent_income.csv',newline='') as file:
    path_pop_injury_rent_income = pd.read_csv(file)

In [25]:
path_pop_injury_rent_income.loc[1,'region'] = 'Wan Chai'
path_pop_injury_rent_income.loc[9,'region'] = 'Islands'
path_pop_injury_rent_income.loc[8,'region'] = 'Wong Tai Sin'

path_pop_injury_rent_income

,region,2014 bike path,2011 bike path,2011 population,2016 population,2009 accident,2010 accident,2011 accident,2009 casualties,2010 casualties,2011 casualties,2011 income,2011 rent,2016 income,2016 rent
0,Central and Western,0,0,251519,243266,12,15,11,12,17,11,33000,9500,36000,14000
1,Wan Chai,0,0,152608,180123,17,13,18,17,13,19,36150,12000,37750,14000
2,Eastern,0,0,588094,555034,15,17,19,15,18,19,25400,1980,29830,3000
3,Southern,300,300,278655,274994,6,10,10,7,13,10,25700,1530,30000,2110
4,Kowloon City,0,0,377351,418732,13,10,18,15,10,18,23560,2900,25550,2750
5,Sham Shui Po,0,0,380855,405869,27,32,32,27,34,32,16280,1800,20000,2500
6,Kwun Tong,0,0,622152,648541,17,19,27,18,26,28,15960,1520,20160,1870
7,Yau Tsim Mong,1800,1500,307878,342970,50,45,51,51,45,54,22070,5410,23500,6000
8,Wong Tai Sin,0,0,420183,425235,5,6,19,5,6,23,17000,1340,22000,1750
9,Islands,14000,14000,141327,156801,74,109,124,79,111,132,21000,2080,27700,2600
10,North,27000,27000,304134,315270,177,180,238,180,190,243,18580,1330,21500,1900
11,Sai Kung,20600,15000,436627,461864,22,28,27,23,30,29,26870,1800,32470,2260
12,Sha Tin,56000,50000,630273,659794,504,495,604,527,521,630,23040,1390,27180,1750
13,Tai Po,35000,35000,296853,303926,407,406,507,424,421,529,22340,1300,27000,2450
14,Tsuen Wan,0,0,304637,318916,30,51,66,30,54,68,24100,1880,28800,2960
15,Kwai Tsing,0,0,511167,520572,29,27,26,30,28,26,17000,1400,21600,1750
16,Tuen Mun,20000,20000,487546,489299,121,121,170,126,123,181,18000,900,22000,1110
17,Yuen Long,44000,44000,578529,614178,267,330,381,282,336,391,18000,1380,23000,1750

In [27]:
with open('2015 - territory.CSV', newline='') as te_csv:
    area = pd.read_csv(te_csv).iloc[:, 1:3]

In [28]:
area = area.rename(columns={'2015年按區議會分區劃分的陸地面積，年中人口及人口密度 Land area, mid-year population and population density by District Council district, 2015':'region',
                         '2015年按區議會分區劃分的陸地面積，年中人口及人口密度 Land area, mid-year population and population density by District Council district, 2015.1':'area(sq km)'})

In [29]:
path_pop_injury_rent_income_area = pd.merge(path_pop_injury_rent_income, area)

path_pop_injury_rent_income_area['area(sq km)'] = path_pop_injury_rent_income_area['area(sq km)'].astype('float64')
path_pop_injury_rent_income_area

,region,2014 bike path,2011 bike path,2011 population,2016 population,2009 accident,2010 accident,2011 accident,2009 casualties,2010 casualties,2011 casualties,2011 income,2011 rent,2016 income,2016 rent,area(sq km)
0,Central and Western,0,0,251519,243266,12,15,11,12,17,11,33000,9500,36000,14000,12.55
1,Wan Chai,0,0,152608,180123,17,13,18,17,13,19,36150,12000,37750,14000,9.91
2,Eastern,0,0,588094,555034,15,17,19,15,18,19,25400,1980,29830,3000,18.59
3,Southern,300,300,278655,274994,6,10,10,7,13,10,25700,1530,30000,2110,38.84
4,Kowloon City,0,0,377351,418732,13,10,18,15,10,18,23560,2900,25550,2750,10.02
5,Sham Shui Po,0,0,380855,405869,27,32,32,27,34,32,16280,1800,20000,2500,9.36
6,Kwun Tong,0,0,622152,648541,17,19,27,18,26,28,15960,1520,20160,1870,11.27
7,Yau Tsim Mong,1800,1500,307878,342970,50,45,51,51,45,54,22070,5410,23500,6000,6.99
8,Wong Tai Sin,0,0,420183,425235,5,6,19,5,6,23,17000,1340,22000,1750,9.30
9,Islands,14000,14000,141327,156801,74,109,124,79,111,132,21000,2080,27700,2600,176.41
10,North,27000,27000,304134,315270,177,180,238,180,190,243,18580,1330,21500,1900,136.48
11,Sai Kung,20600,15000,436627,461864,22,28,27,23,30,29,26870,1800,32470,2260,129.64
12,Sha Tin,56000,50000,630273,659794,504,495,604,527,521,630,23040,1390,27180,1750,68.71
13,Tai Po,35000,35000,296853,303926,407,406,507,424,421,529,22340,1300,27000,2450,136.11
14,Tsuen Wan,0,0,304637,318916,30,51,66,30,54,68,24100,1880,28800,2960,61.94
15,Kwai Tsing,0,0,511167,520572,29,27,26,30,28,26,17000,1400,21600,1750,23.34
16,Tuen Mun,20000,20000,487546,489299,121,121,170,126,123,181,18000,900,22000,1110,82.89
17,Yuen Long,44000,44000,578529,614178,267,330,381,282,336,391,18000,1380,23000,1750,138.48

In [30]:
density_2011 = [path_pop_injury_rent_income_area['2011 population'][i] / path_pop_injury_rent_income_area['area(sq km)'][i] for i in range(len(path_pop_injury_rent_income_area['region']))]
density_2016 = [path_pop_injury_rent_income_area['2016 population '][i] / path_pop_injury_rent_income_area['area(sq km)'][i] for i in range(len(path_pop_injury_rent_income_area['region']))]

region_concat = [region for region in path_pop_injury_rent_income_area['region']]

path_pop_injury_rent_income_area_density = pd.merge(path_pop_injury_rent_income_area , pd.DataFrame({'region':region_concat,
                                                        '2011 Population Density(Persons per sq. km)': density_2011,
                                                        '2016 Population Density(Persons per sq. km)': density_2016}))

In [31]:
path_pop_injury_rent_income_area_density

,region,2014 bike path,2011 bike path,2011 population,2016 population,2009 accident,2010 accident,2011 accident,2009 casualties,2010 casualties,2011 casualties,2011 income,2011 rent,2016 income,2016 rent,area(sq km),2011 Population Density(Persons per sq. km),2016 Population Density(Persons per sq. km)
0,Central and Western,0,0,251519,243266,12,15,11,12,17,11,33000,9500,36000,14000,12.55,20041.354582,19383.745020
1,Wan Chai,0,0,152608,180123,17,13,18,17,13,19,36150,12000,37750,14000,9.91,15399.394551,18175.882947
2,Eastern,0,0,588094,555034,15,17,19,15,18,19,25400,1980,29830,3000,18.59,31634.965035,29856.589564
3,Southern,300,300,278655,274994,6,10,10,7,13,10,25700,1530,30000,2110,38.84,7174.433574,7080.175077
4,Kowloon City,0,0,377351,418732,13,10,18,15,10,18,23560,2900,25550,2750,10.02,37659.780439,41789.620758
5,Sham Shui Po,0,0,380855,405869,27,32,32,27,34,32,16280,1800,20000,2500,9.36,40689.636752,43362.072650
6,Kwun Tong,0,0,622152,648541,17,19,27,18,26,28,15960,1520,20160,1870,11.27,55204.259095,57545.785271
7,Yau Tsim Mong,1800,1500,307878,342970,50,45,51,51,45,54,22070,5410,23500,6000,6.99,44045.493562,49065.808298
8,Wong Tai Sin,0,0,420183,425235,5,6,19,5,6,23,17000,1340,22000,1750,9.30,45180.967742,45724.193548
9,Islands,14000,14000,141327,156801,74,109,124,79,111,132,21000,2080,27700,2600,176.41,801.128054,888.844170
10,North,27000,27000,304134,315270,177,180,238,180,190,243,18580,1330,21500,1900,136.48,2228.414420,2310.008792
11,Sai Kung,20600,15000,436627,461864,22,28,27,23,30,29,26870,1800,32470,2260,129.64,3367.995989,3562.665844
12,Sha Tin,56000,50000,630273,659794,504,495,604,527,521,630,23040,1390,27180,1750,68.71,9172.944258,9602.590598
13,Tai Po,35000,35000,296853,303926,407,406,507,424,421,529,22340,1300,27000,2450,136.11,2180.978620,2232.943942
14,Tsuen Wan,0,0,304637,318916,30,51,66,30,54,68,24100,1880,28800,2960,61.94,4918.259606,5148.789151
15,Kwai Tsing,0,0,511167,520572,29,27,26,30,28,26,17000,1400,21600,1750,23.34,21900.899743,22303.856041
16,Tuen Mun,20000,20000,487546,489299,121,121,170,126,123,181,18000,900,22000,1110,82.89,5881.843407,5902.991917
17,Yuen Long,44000,44000,578529,614178,267,330,381,282,336,391,18000,1380,23000,1750,138.48,4177.707972,4435.138648

In [32]:
path_pop_injury_rent_income_area_density.to_csv('path_pop_injury_rent_income_area_density.csv',encoding="utf-8")